-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [30]:
#find the number of players
players = len(purchase_data["SN"].value_counts())
players

#Create a dataframe 
total_player_count = pd.DataFrame({"Total Players":[players]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
# Find items, average price, number of purchase & total revenue
items = len((purchase_data["Item ID"]).unique())
averageprice = (purchase_data["Price"]).mean()
purchases = (purchase_data["Purchase ID"]).count()
revenue = (purchase_data["Price"]).sum()

# Create data frame
purchasinganalysisdf = pd.DataFrame({"Number of Unique Items":[uniqueitems],
                           "Average Price":[averageprice], 
                           "Number of Purchases": [purchases], 
                           "Total Revenue": [revenue]})

# make it look pretty
purchasinganalysisdf.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
# Groupgender
gender = purchase_data.groupby("Gender")
gendercount = gender.nunique()["SN"]

# Find the percentages  
percentage = gendercount / players * 100

# Create data frame
genderdemographics = pd.DataFrame({"Total Count": gendercount,"Percentage of Players": percentage})

# Format the data frame since there was an extra space
genderdemographics.index.name = None

# make it look pretty
genderdemographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
# Purchase Count
purchasecount = gender ["Purchase ID"].count()

# Average purchase price
avgpurchaseprice = gender ["Price"].mean()

# Average purchase total
avgpurchase = gender["Price"].sum()

# Average purchase total per person
avgpurchase = purchasecount/gendercount

# Create data frame
purchasinganalysis = pd.DataFrame({"Purchase Count": purchasecount, 
                                    "Average Purchase Price": avgpurchaseprice,
                                    "Average Purchase Value":avgpurchase,
                                    "Avg Purchase Total per Person": avgpurchase})

# dataframe title
purchasinganalysis.index.name = "Gender"


# Make it look pretty 
purchasinganalysis.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [ ]:
purchasinganalysis=pd.DataFrame({"Purchase Count": [purchasecountmale, purchasecountfemale, purchasecountother],
                                 "Average Purchase Price": [avgmale, avgfemale, avgother], 
                                 "Total Purchase Value":[maletotal, femaletotal, othertotal],
                                 "Avg Total Purchase per Person":[maleperperson, femaleperperson, otherperperson]})

purchasinganalysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
# Bin the data 
agebins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Use pd cut and make new data frame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
agegrouped = purchase_data.groupby("Age Group")

# Find count of age and percentages
agecount = age_grouped["SN"].nunique() 
agepercentage = (agecount/players) * 100

# Create data frame age and percentages
age = pd.DataFrame({"Total Count": agecount,"Percentage of Players":agepercentage})

# format header
age.index.name = None

# Make it look pretty
age.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Count purchases by age group
purchasecountbyage = agegrouped["Purchase ID"].count()

# Avg purchase, total purchase, avg per person
purchasepriceavgbyage = agegrouped["Price"].mean()
totalvaluebygroup = agegrouped["Price"].sum()
avgperpersonage = totalvaluebygroup/agecount

# Create data frame 
purchasinganalysis = pd.DataFrame({"Purchase Count": purchasecountbyage,
                                 "Average Purchase Price": purchasepriceavgbyage,
                                 "Total Purchase Value":totalvaluebygroup,
                                 "Average Purchase Total per Person": avgperpersonage})

# format header
purchasinganalysis.index.name = None

# Make it look pretty 
purchasinganalysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
# Group purchase data by name
spenderbynames = purchase_data.groupby("SN")

# Basic calculations
purchasecount = spender_stats["Purchase ID"].count()
avgspender = spender_stats["Price"].mean()
totalspender = spender_stats["Price"].sum()

# Create data frame
spenders = pd.DataFrame({"Purchase Count": purchasecount,
                             "Average Purchase Price": avgspender,
                             "Total Purchase Value":totalspender})

# # Sort in descending order to obtain top 5 spender names 
spenders = spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
#Create a subset of purchase data
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Basic Calculations
itemgroup = items.groupby(["Item ID","Item Name"])
howmanytimespurch = itemgroup["Price"].count()
purchasevalue = (itemgroup["Price"].sum()) 
itemprice = purchase_value/purchase_count_item

# Create data frame
popular = pd.DataFrame({"Purchase Count": howmanytimespurch, 
                                   "Item Price": itemprice,
                                   "Total Purchase Value":purchasevalue})

# Top 5 
popularitemsformatted = popular.sort_values(["Purchase Count"], ascending=False).head()

# Make it look pretty
popularitemsformatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
popular = popular.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Make it look nice
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})